.container
  %p
    Holarse ist ein Gemeinschaftsprojekt von vielen Freiwilligen. Es wurde initiiert von:

  %address
    %strong
      Bernd Ritter
      %br
    Roggenkamp 32
    %br
    27751 Delmenhorst
    %br
    %abbr{:title => "Telefon"}
      T:
    04221 2985986
    %br
    %abbr{:title => "Email"}
      E:
    contact at holarse dash linuxgaming dot de
