.container
  .row.margin-bottom-30
    .col-md-6.md-margin-bottom-40
      %p
        Eine Einführung zu Holarse - Spielen unter Linux
      %p
        Ein Holarse. Ist das wildlebend? Kann man das essen? Wenn ja, wieviele?
