%li.comment
  %header 
    %a{:id => create_anchor_name(comment)}
    .commentuser
      = link_user comment.user
    %time
      = comment.created_at
    .controls  
      = create_polymorphic_comment_link(:edit, commentable_object, comment) if can_edit_comment?(comment)

  .content  
    = comment.content
