.page-header
  %h1
    Ergebnisse für 
    #{@searchword}
    %small
      Es wurden 
      = @elements.count
      Ergebnisse gefunden

.list-group
  - @elements.each do |element|
    = render partial: element.model.class.name.underscore, object: element

.text-muted.pull-right
  = t('.search_duration', :search_time => Time.now - @search_start)    
