%table.table.table-hover
  %thead
    %tr
      %th
        Erstellt am
      %th
        Benutzer
      %th
        Aktion
      %th
        Revision
  %tbody
    - @revisions.each do |revision|
      %tr
        %td=l revision.created_at
        %td=link_user User.find(revision.whodunnit)
        %td=revision.event
        %td=revision_link @parent, revision
