%table.table.table-hover.sortable
  %thead
    %tr
      %th
        Revision
      %th
        erstellt am
      %th
        von
  %tbody
    - @revisions.each do |revision|
      %tr
        %td=revision_link @parent, revision
        %td=l revision.created_at
        %td=link_user revision.user
