%table.table.table-hover
  %thead
    %tr
      %th
        Erstellt am
      %th
        Benutzer
      %th
        Änderungsmeldung
      %th
        Revision
  %tbody
    - @revisions.each do |revision|
      %tr
        %td=revision.created_at
        %td=revision.user.username
        %td=revision.changelog
        %td=revision_link @parent, revision
