%table.table.table-hover.sortable
  %thead
    %tr
      %th
        Revision
      %th
        Aktion 
      %th
        Datum
      %th
        von
  %tbody
    - @revisions.each do |revision|
      %tr
        %td=revision_link @parent, revision
        %td=revision.event_text
        %td=revision.changetime
        %td=revision.author
