%tr
  %td
    = link_to discount_event.name, discount_event
  %td{:"data-dateformat" => "DD.MM.YYYY HH:mm:ss"}
    =l discount_event.startdate if discount_event.startdate
  %td{:"data-dateformat" => "DD.MM.YYYY HH:mm:ss"}
    =l discount_event.enddate if discount_event.enddate
  %td
    = fa_icon "external-link"
    = link_to discount_event.website
  %td
    %span.badge=discount_event.comments.count if discount_event.comments.count > 0
