%ul
  %li
    = link_to t('.new'), new_discount_event_path
  %li
    = link_to t('.index'), discount_events_path
  %li
    = link_to t('.edit'), edit_discount_event_path(@discount_event.id) if @discount_event and !@discount_event.new_record?
