%li= button_to t('.new'), new_discount_event_path, :class => "btn btn-success btn-large", :method => :get unless @discount_event
%li= button_to "Zurück zur Übersicht", discount_events_path, :class => "btn btn-default", :method => :get unless current_page?(discount_events_path)
