.col-md-12
  .panel.panel-red.margin-bottom-40
    .panel-heading
      %h3.panel-title
        = fa_icon "gift"
        = t('.title')
    .panel-body
      %p
        Hier tragen wir besondere Aktionen rund um Linuxspiele ein. Die meisten Aktionen werden sich wohl um Rabattaktionen bei Steam, Desura oder im Humble Store drehen. 
        Aber auch andere besondere Events sollen hier genannt werden.
    %table.table.table-hover.sortable
      %thead
        %tr
          %th
            Aktionsname
          %th
            Anfangsdatum
          %th
            Enddatum
          %th{:"data-defaultsort" => "disabled"}
            Aktionswebsite
          %th
            \# Komm.
      %tbody    
        = render :partial => "discount_events/discount_event", :collection => @discount_events
