.page-header
  %h1
    Alle Holarsianer

%table.table
  %thead
    %tr
      %th
        \#
      %th
        Benutzername
      %th
        Auf Holarse seit
      %th
        Letzte Aktivität
  %tbody
    - @users.each do |user|
      %tr
        %td
          = user.id
        %td
          = link_user user
        %td
          = user.created_at
        %td
          = user.lastactivity
