- @tags.each_key do |key|
  - tag_cloud(@tags[key], %w(css1 css2 css3 css4)) do |tag, css_class|
    %li= link_to tag.name, searchtag_path(tag.name)

%button.btn.btn-default.btn-primary{:onclick => "TogetherJS(this); return false;"}
  Powerrangers unite!
