.panel.panel-default
  - @tags.each_key do |key|
    .panel-heading
      = key
    .list-group
      - tag_cloud(@tags[key], %w(css1 css2 css3 css4)) do |tag, css_class|
        = link_to tag.name, searchtag_path(tag.name), class: "list-group-item"

.panel.panel-default
  .panel-heading
    Zusammen auf Holarse arbeiten und schauen
