/ einführung
.jumbotron
  %h1
    Willkommen auf Holarse
  %p
    Spielen unter Linux? Wir zeigen Euch wie es geht, was Ihr spielen könnt und geben Euch alle Mittel an die Hand in der Linuxspiele-Community Mit- und Gegenspieler zu finden!
  %p
    = link_to introduction_path, class: "btn-u btn-u-lg", role: "button" do
      Zeige mir eine Einführung

/ news
.row.blog-page
  / left sidebar
  .col-md-9.md-margin-bottom-40
  - @elements.each do |element|
    .row.blog.blog-medium.margin-bottom-40
      .col-md-5
        = element.teaser_image.html_safe
      .col-md-7
        = render partial: element.model.class.name.underscore, object: element