%header
  %h1
    = t('.title')

%nav

%article
  .flexslider
    %ul.slides
      = render partial: "slider", collection: @news[0..3], as: :news
  %ul
    = render partial: "news", collection: @news

%footer

