.page-header
  %h1
    Communities
    %small
      Holarse im Web

Ihr könnt Holarse an vielen Stellen im Netz finden. Wir bevorzugen jedoch, wenn möglich, freie Alternativen.

.list-group
  = link_to "Desura",   "http://www.desura.com/groups/holarse-linuxgaming", class: "list-group-item"
  = link_to "Steam",    "http://steamcommunity.com/groups/holarse", class: "list-group-item"
  = link_to "Diaspora", "https://pod.geraspora.de/u/holarse", class: "list-group-item"
