.page-header
  %h1
    Communities
    %small
      Holarse im Web

Ihr könnt Holarse an vielen Gaming-Stellen im Web finden. Wir haben Gruppen bei Desura und Steam:

%ul.unstyled-list
  %li
    = link_to "http://www.desura.com/groups/holarse-linuxgaming" do
      = image_tag "http://media.desura.com/images/global/desura.png"
  %li
    = link_to "http://steamcommunity.com/groups/holarse", "Steam-Gruppe"
