.page-header
  %h1
    Holarse-Services
    %small
      Tools f&uuml;r Linuxgamer

%p
  Holarse informiert nicht nur rund um Linux-Spiele. Wir wollen auch die Linuxspieler-Community n&auml;her zusammenbringen. Daher bieten wir hier euch
  jedemenge n&uuml;tzlicher Dienste an, die ihr zum Spielen unter Linux mit anderen Linuxspielern zusammen nutzen k&ouml;nnt.

%p
  %ul
    %li
      = link_to "Mumble-Server", holarse_service_mumble_path
    %li
      = link_to "Jabber-Server", holarse_service_jabber_path
    %li
      = link_to "Gameserver", holarse_service_gameserver_path

%p
  Auf Anfrage stellen wir auch gerne andere Dienste oder Gameserver bereit. Sprecht uns einfach an.
