.page-header
  %h1
    Irc und Jabber
    %small
      Quatschen im Holarse-Standart

  %p
    = button_to "Zurück", :back, class: "btn-u btn-primary"

markdown:
  
  ### Jabber
  
  Holarse bietet Euch einen Jabber-Server.
  
  #### Serverdaten
  
  Adresse:
  : `holarse-linuxgaming.de`
  
  ### IRC
  
  #### Generelles
  Im IRC wird die ständige Möglichkeit zum Austausch geboten.
  
  #### Webchat
  
  ##### Hinweis für alle IRC-Neulinge:
  
  Wenn Ihr eine Frage stellt, erwartet bitte nicht, innerhalb von fünf Minuten eine Antwort zu erhalten. Geduldet Euch bitte und bleibt ein paar Stunden online. Viele im Holarse-Channel schauen nur sporadisch rein und werden erst nach einiger Zeit antworten. Sollte es trotzdem keine Antwort geben versucht es einfach später noch einmal. Geholfen wird auf jeden Fall.
  
  [![IRC Beitreten][Button]][IRC]
  
  #### Serverdaten
  
  Adresse:
  : `irc.oftc.net`
  
  Port:
  : `6667`
  
  Raum:
  : `#holarse-gaming`
  
  [Button]: http://dabuttonfactory.com/b.png?t=IRC%20beitreten&f=Calibri&ts=20&tc=ffffff&it=png&c=0&bgt=unicolored&bgc=e74d3c&hp=20&vp=11
  [IRC]: http://webchat.oftc.net/?nick=HolarseWebnutzer&channels=%23holarse-gaming&uio=d4
