.page-header
  %h1
    IRC und Jabber
    %small
      Quatschen mit Linuxgamern

= semantic_form_for 'irc', :url => Holarse::Application.config.webchaturl do |f|
  = f.actions do
    = f.action :submit, button_html: { class: "btn-u btn-block" }, label: "IRC-Webchat starten"

:markdown
  
  ### Jabber
  
  Holarse bietet Euch einen Jabber-Server.
  
  #### Serverdaten
  
  Adresse:
  : `holarse-linuxgaming.de`
  
  ### IRC
  
  #### Generelles
  Im IRC wird die ständige Möglichkeit zum Austausch geboten.
  
  #### Webchat
  
  ##### Hinweis für alle IRC-Neulinge:
  
  Wenn Ihr eine Frage stellt, erwartet bitte nicht, innerhalb von fünf Minuten eine Antwort zu erhalten. Geduldet Euch bitte und bleibt ein paar Stunden online. Viele im Holarse-Channel schauen nur sporadisch rein und werden erst nach einiger Zeit antworten. Sollte es trotzdem keine Antwort geben versucht es einfach später noch einmal. Geholfen wird auf jeden Fall.
  
  #### Serverdaten
  
  Adresse:
  : `irc.oftc.net`
  
  Port:
  : `6667`
  
  Raum:
  : `#holarse-gaming`
