.page-header
  %h1
    Mumble
    %small
      Quatschen mit Linuxgamern in Live

= semantic_form_for 'mumble', :url => Holarse::Application.config.mumbleurl do |f|
  = f.actions do
    = f.action :submit, button_html: { class: "btn-u btn-block" }, label: "Mumble beitreten"

:markdown
  ### Serverinformationen
  Wir haben für Euch einen aktuellen Mumble VoIP-Server bereitstehen. Klickt einfach oben auf den Button und öffnet den Link mit Mumble, oder betretet den Server manuell über die [Serverdaten](#Serverdaten).
  
  #### Wichtiges:
  * Anders als bei TeamSpeak händelt jeder Nutzer nur den eigenen Ton. Andere Personen können nicht einzeln beeinflusst werden. Umso wichtiger ist es die Einstellungen an Eure Lautsprecher und Euer Mikrofon anzupassen. Folgt hierzu am Besten dem Audioassistenten von Mumble – zu finden unter *Konfiguration*.
  
  * Achtet darauf, dass Ihr die aktuelle Version benutzt und den Opus-Codec installiert habt. Ansonsten kann es vorkommen, dass Ihr andere Teilnehmer weder hört, noch sprechen seht.
  
  ### Serverdaten
  Adresse:
  : `holarse-linuxgaming.de`
  
  Passwort:
  : `holarse`

