.list-group
  = link_to "Holarse-Channel", youtube_channel_path(channel: "holarse"), class: "list-group-item"
  = link_to "GTux-TV-Channel", youtube_channel_path(channel: "gtuxtv"), class: "list-group-item"
