/ JQuery-Template
%script{:id => "youtube-tmpl", :type => "text/x-jquery-tmpl"}
  .video
    .video_img
      %a{:href=> "${link}", :class => "fancybox-media"}
        %img{:src => "${img_url}"}
    .video_text
      .video_header
        .video_name
          %a{:href=> "${link}"}
            ${name}
        .video_details
          .author 
            %a{:href => "/redirect/youtube/${author}"}
              ${author}
          %time.published{:datetime => "${published}"}
            ${publishedLocaleString}
      .video_newline
      .video_desc ${desc}

%h1
  = t('.title')

#yt-videos.videos

:javascript
  $(document).ready(function() {
    function load_videos() {
      return [].concat( 
        load_yt_playlist("holarse", 15), 
        load_yt_playlist("gtuxtv", 15)
      );
    }

    function sort_videos(unsorted) {
      return unsorted.sort(function(a,b) {
        return new Date(b.published) - new Date(a.published);
      });
    }

    // videos darstellen
    $("#youtube-tmpl").tmpl( sort_videos(load_videos()) ).appendTo("#yt-videos");
  };
   
