/ JQuery-Template
%script{:id => "youtube-tmpl", :type => "text/x-jquery-tmpl"}
  .video
    .video_img
      %a{:href=> "${link}", :class => "fancybox-media"}
        %img{:src => "${img_url}"}
    .video_text
      .video_header
        .video_name
          %a{:href=> "${link}"}
            ${name}
        .video_details
          .author ${author}
          .updated ${updatedLocaleString}
      .video_newline
      .video_desc ${desc}

%h1
  = t('.title')
%div#yt-videos.videos
