/ JQuery-Template
%script{:id => "youtube-tmpl", :type => "text/x-jquery-tmpl"}
  %li.media
    %a{:href => "${link}", :class => "pull-left fancybox.iframe"}
      %img{:src => "${img_url}", :class => "media-object"}
    .media-body
      %h4{:class => "media-heading"}
        [${author}] ${name}
      ${desc}

%h1
  = t('.title')

%ul.media-list#yt-videos
