%script{:id => "youtube-tmpl", :type => "text/html"}
  %li.media
    %a{:href => "{{link}}", :class => "pull-left fancybox.iframe"}
      %img{:src => "{{img_url}}", :class => "media-object"}
    .media-body
      %h4{:class => "media-heading"}
        = fa_icon "youtube", text: "{{name}}"
      .text-muted
        %time.timeago{:datetime => "{{published_ts}}"}
          {{published}}
        von
        %a{:href => "/redirect/youtube/{{author}}"}
          {{author}}
      .autolinkable{:"data-ignores" => ""}
        {{desc}}

.container
  %h1
    = t('.title')

  %ul.media-list#yt-videos
