// Place all the styles related to the comment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment {
  width: 50%;
  margin-left: 20px;
  margin-top: 30px;

  header {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ddd;

    .commentuser {
      display: inline-block;
    }

    time {
      display: inline-block;
      font-size: 0.75em;
      color: #bbb;
    }

    .controls {
      display: inline-block;
      float: right;
      font-size: 0.75em;
    }

  }

  .content {
    width: 100%;
    margin-left: 20px;
  }
}
