section.page {
  margin-top: 8%;
  line-height: 1.5;
  width: 80%;
  margin-left: 1%;
  margin-right: 2%;
  border-right: 1px solid #ccc;
}

aside.page {
  position: absolute;
  right: 2%;
  top: 0px;
  width: 15%;
  padding: 5px;
  text-align: left;
}
