#contextnav {
  position: fixed;
  top: 150px;
  right: 0px;
  width: 175px;

  ul li {
    text-align: right;
    list-style: none;    
    a {
	    padding: 8px 15px;
	    text-decoration: none;
	    font-weight: bold;
	    font-size: 0.75em;
    	color: #8d3435;
    }
    
    a:hover {
      color: #fff;
    	background-color: #8d3435;    
    }
  }
}
