 #header {
	      height: 120px;
        background-color: rgba(32, 32, 32, 0.95);
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;        

        #logo {
          position: absolute;
          top: 25px;
          width: 120px;
        }

        #title {
          position: absolute;
          top: 25px;
          left: 150px;
        }

        #motto {
          font-size: 2.5em;
          font-family: verdana, sans-serif;
          font-weight: bold;
          text-transform: uppercase;
          color: #666;
          position: absolute;
          top: 57px;
          right: 30px;
          span.red {
            color: #8d3435;
          }
        }
}
