header.page {
  position: fixed;
  width: 100%;
  height: 12%;
  top: 0px;
  background: none repeat scroll 0% 0% #dcdcdc; 
  box-shadow: 1px 2px 20px #111;
  z-index: 999;
}

aside.logo {
  position: fixed;
  top: 4px;
  width: 25%;
}

aside.search {
  position: fixed;
  top: 4%;
  left: 29%;

  input {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAb0lEQVR42p2RMQ7AIAhFWXsG1h7Gtffo6urqyJGpwyetomnwJ38BH/wgfZSaS7PABbVOqkqm3Fzx6IQTatlDb5PJi21YBy1iuNgjJIgzFXqyCcXj1Z1DXNGTiw01aP252DCCgH7Fk41h8KaAGMDxADnaOPucd/m3AAAAAElFTkSuQmCC") no-repeat scroll 7px 6px rgb(250, 250, 250);
         padding: 6px 10px 2px 25px;
    background-color: #efefef;
    border: 1px solid #999;
    border-radius: 5px;
  }
}

nav.user {
  position: fixed;
  top: 0px;
  right: 0%;
  margin-top: 0%;

  a {
    color: #222;
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    li {
      font-size: 0.65em;
      text-shadow: 1px 2px 5px #999;
      text-align: right;
      margin-bottom: 5px;
      text-transform: lowercase;
    }

    li.login {
    }
  
    li.register {
    }

    li.new {
      a {
        color: #910d0b;
      }
    }
  }
}
