#header {
  position: absolute;
  top: 35px;
  right: 0px;
  background-color: #cecece;
  width: 100%;
  height: 75px;
  padding-top: 15px;
  border-bottom: 1px dashed #8d3435;
}

#logo {
  position: absolute;
  right: 0px;
  float: right;
  padding-right: 10px;
}

#title {
  position: absolute;
  right: 150px;
}

#motto {
  position: absolute;
  right: 150px;
  margin-top: 45px;
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  span.red {
    color: #8d3435
  }
  text-shadow: #000 1px 1px 5px;  
}
