body {
  background-color: #feffff;
}

header {

  .main {
    background-color: #242b32;
    color: #f8f8f9;
    padding-top: 25px;
    padding-bottom: 25px;
  
    #logo {
      float: left;
      display: block;
    }

    .nav {
      li a {
	font-size: 1.5em;
        color: #7b8690;
	text-shadow: none;
	font-weight: bold;

	&:hover {
	  color: #b12121;
	}
      }
    }
  }

  .sub {
    background-color: #37424c;
    color: #7b8990;
    font-size: 16px;
    min-height: 63px;
    padding: 10px;
    font-weight: bold;

    color: #7b8690;

    a {
     color: #7b8690;

      &:hover {
	text-decoration: none;
	color: #b12121;
      } 
    }

    .breadcrumbs {
      margin-top: 10px;

      a {
	&:hover, &:focus {
	  text-decoration: none;
	}
      }

    }

    .search {
      float: right;
      display: inline-block;
      background-color: #242b32;
      min-width: 210px;
      margin-top: 3px;
    }

    .searchfield {
      width: 250px;
      background-color: #242b32;
      color: #7b8690;
      border: none;
    }
  }
}


.content {
  padding-top: 20px;
  padding-left: 10px;
  background-color: #feffff;
  color: #404b55;
}

footer {
  background-color: #242b32;
  color: #b3b5b7;
  font-size: 14px;

  a {
    color: #7b8690;
  }
}

.copyright {
  background-color: #37424c;
  color: #7b8690;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 16px;

  a {
    color: #7b8690;
  }
}

.contact-list {
  list-style: none;
}

.session {
  margin-top: 10px;
}

.dropdown-toggle { 
  .open {
    background-color: #242b32;
  }
}

.navbar-nav li .dropdown-menu {
  background-color: #242b32;
}

.tagsinput {
  border: none;
}
