.user {
  width: 10%;
  margin: 10px;
  float: left;
}

.sort {
  display: inline-block;
  background: rgb(65,65,65);
  border-radius: 3px;
  #sort-by {
    padding: 5px;
    margin: 0;
    display: inline-block;
  
    li {
      font-size: 0.8em;
      display: inline
    }
  }
}

.item {
  width: 150px;
  font-size: 0.5em;
  p.title {
    font-weight: bold;
  }
}

.item.news {
  p.title {
    background-color: #c00;
  }
}

.item.article {
  p.title {
    background-color: #0c0;
  }
}
