html {
    font-family: "Open Sans", sans-serif;
    font-size: 1.0em;
    background-color: #eee;    
}

body {
  margin: 0;
}

img, embed, object, video {
  max-width:100%;
}

a {
  color: #ba2222;
  text-decoration: none;
}

a:visited {
}

a:hover {
  text-decoration: underline;
}

.flash {
  display: none;
}

.hidden {
  display: none;
}
