html {
    font-family: "Open Sans", sans-serif;
    font-size: 1.0em;
    background-color: #DDD;    
}

body {
  margin: 0;
  position: relative; 
}

a {
  color: #ba2222;
  text-decoration: none;
}

a:visited {
}

a:hover {
  text-decoration: underline;
}

.flash {
  display: none;
}
