// Place all the styles related to the media controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video {
	text-align: center;
	display: table;
	padding: 5px;
	background: #ddd;
	margin: 5px;
	width: 100%;
	//border: 1px solid #000;
}

.video_name {
	font-weight: bold;
	a {
		color: rgba(141, 52, 53, 0.9); 
	}
}

.video_img {
	float: left;
	padding: 15px;
}

.video_desc {
	text-align: left;
	padding: 15px;
	font-size: 10px;
	max-height: 200px;
	overflow: auto;
	white-space: pre-wrap;
}
