
#search {
  float: right;
  padding-right: 15px;
  input {
    height: 15px;
    border-radius: 7px;
    padding-left: 5px;
  }

  button {
    background: rgba(141, 52, 53, 0.9);
    border: 1px solid #900;
    color: #000;
    text-transform: uppercase;
  }
}

#primarynav {

  background-color: #656565;
  height: 25px;
  color: #8d3435;
  font-weight: bold;
  ul { 
  }
  li {
    display: inline-block; 
    padding: 0px;
    padding-left: 50px;
  }
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

#secondarynav {
	float: left;
        width: 300px;
        background: rgba(141, 52, 53, 0.9);
        border-top: 1px solid #000;
        border-left: 1px solid #000;
        position:relative;
        margin-bottom: -99999px;
        padding-bottom: 99999px;
        overflow:hidden;
}
