#search {
  float: right;
  padding-left: 25px;
  height: 15px;
  input.search_field {
    margin-top: 5px;
    border-radius: 5px;
    background-color: #656565;
    border: 1px solid #fff;
    float: left;
  }
  input.search_button {
    margin-top: 5px;
    float: right;
  }
}

#profile {
    float: left;
    font-weight: bold;
    ul.profile { 
      padding-left: 30px;
      li {
        color: #959595;
        font-size: 0.75em;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0px;
        margin: 0px;
        display: inline-block; 
        height: 28px;
        width: 28px;
        text-align: center;
      }
    }
}
   
#primarynav {
  background-color: #656565;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  height: 35px;
  color: #8d3435;
}

#primarylinks {
  float: right;
  ul.content { 
    li {
      padding: 0px;
      margin: 0px;
      display: inline-block; 
      width: 28px;
      text-align: center;
    }
  }
}

#secondarynav {
	float: left;
        width: 300px;
        background: rgba(141, 52, 53, 0.9);
        border-left: 1px solid #000;
        position:relative;
        margin-bottom: -99999px;
        padding-bottom: 99999px;
        overflow:hidden;
}
