ul.newsgrid li {
  display: block;
  float: left;
  width: 25%;
  margin: 50px 30px;
  &:nth-child(3n+1) {
    clear: both;
  }
}

li.news {
  padding-bottom: 25px;

  header {
    display: inline-block;
  }

  .newsgrid:nth-child(3n+1) {
    color: red;
  }

  .author, .date, .comments {
    display: inline-block;
  }

  h1 {
    display: inline;
    font-size: 1.25em;
    text-shadow: none;
    border-bottom: none;
  }

  h2 {
    /*display: inline;*/
    font-size: 0.75em;
    color: #bbb;
  }

  article.newsitem {
    /*color: #555;*/
    font-size: inherit;
  }

}
