// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li.news {
  .title {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2em;
    letter-spacing: 0.1em;  
    text-align: justify;
    border-bottom: 1px dashed #000;
    
    a {
      text-decoration: none;
    }
    a:hover {
      color: #8d3435;
    }
  }
  
  .created_at {
    font-size: 0.55em;
    color: #666;
    display: inline-block; 
  }
  
  .author {
    font-size: 0.55em;
    color: #666;
    display: inline-block; 
    a {
      color: #666;
    }    
  }
  
  .comments {
    font-size: 0.65em;
    color: #666;
    display: inline-block; 
    float: right;
    padding-left: 5px;    
  }
  
  .content {
    font-size: 0.85em;
    color: #444;
    font-family: serif;    
    line-height: 1.5em;
    text-align: justify;
  }
  
}
