nav#secondarynav {
	float: left;
  background-color: #934343;
  width: 300px;
  border-right: 1px solid #000;
  position:relative;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  overflow:hidden;
  size: 0.75em;
}


