#secondarynav {
	float: left;
        width: 300px;
        background: rgba(141, 52, 53, 0.9);
        border-left: 1px solid #000;
        position:relative;
        margin-bottom: -99999px;
        padding-bottom: 99999px;
        overflow:hidden;
}
