.videos {
  display: table;

  .video {
    display: table-row;

    .video_img {
      display: table-cell;
      float: left;
      baseline: bottom;
      padding-right: 25px;
    }

    .video_text {
      display: table-cell;
      vertical-align: top;

      .video_header {
        display: block;
        float: left;
        .video_name {
          float: left;
        }
        .video_details {
          margin-top: 25px;
          font-size: 0.5em;
          color: #bbb;

          .updated {
            display: inline;
            padding-left: 15px;
          }

          .author {
            display: inline;
          }
        }
      }
      .video_newline {
        clear:both;
      }
      .video_desc {
        float: left;
        font-size: 0.85em;
        white-space: pre-line;
        padding-bottom: 25px;
        padding-top: 12px;
      }
    }
  }
}
