ul.videos {
  li {
    display: inline-block;
    padding-bottom: 25px;

    .video_img {
      float: left;
      baseline: top;
      padding-right: 25px;
    }

    .video_name {
      float: left;
    }

    .video_desc {
      font-size: 0.85em;
      white-space: pre-line;
    }

    .video_details {
      display: block;
      margin-top: 25px;      
      font-size: 0.5em;
      color: #bbb;
      
      .updated {
        display: inline;
        padding-left: 15px;
      }

      .author {
        display: inline;
      }
    }
  }
}
