/ breadcrumbs
.breadcrumbs.margin-bottom-40
  .container
    .pull-left
      = render partial: "contextmenu"
    %ul.breadcrumb.pull-right.hidden-xs.hidden-sm
      = render_breadcrumbs :tag => :li, :separator => ""
