%h3
  %i.icon-cog
  Kontakt mit Holarse

%span
  Ihr k&ouml;nnt mit uns auf unterschiedlichste Weisen Kontakt aufnehmen:

%ul.contact-list
  %li
    Kontaktformular
  %li
    Email
  %li
    IRC-Chat
  %li
    Twitter
