%ul.list-inline
  %li
    &copy; 2000 - 2013 Bernd Ritter, 
    %i.fa.fa-legal
    = link_to "Impressum", "#"
  %li
    Alle hier verwendeten Marken- oder Firmennamen unterliegen ausschließlich den Rechten der jeweiligen Inhaber.
  %li
    Die erstellten Artikel sind zumeist von unterschiedlichen Autoren. 
