.container
  - flash.each do |name, msg|
    .row
      .col-md-12
        = content_tag :div, class: "alert alert-#{name} fade in" do
          %button.close{:type => "button", :"data-dismiss" => "alert"}
            &times;
          = msg.html_safe
