.page-header
  %h1
    Markdown-Dokumentation
    %small
      Kurz&uuml;bersicht &uuml;ber die Befehle

%p
  Hier soll mal die Markdown-Doku hin. Bis dahin gibts nen Link auf die Doku: 
  = link_to "http://kramdown.rubyforge.org/quickref.html"
