%ul
  %li      
    = link_to t('.videos'), videos_path
  %li      
    = link_to t('.twitter'), twitter_path
  %li      
    = link_to t('.community'), root_path
  %li
    = link_to t('.news'), news_index_path     

