%ul
  %li      
    = link_to t('.games'), articles_path
  %li      
    = link_to t('.hardware'), root_path
  %li      
    = link_to t('.community'), root_path
  %li
    = link_to t('.news'), news_index_path     

