%script{:id => "statistic-tmpl", :type => "text/html"}
  %dl.dl-horizontal
    {{#stats}}
    %dt
      %i{:class => "{{icon}}"}
      {{name}}
    %dd
      {{count}}
    %dd
    {{/stats}}

%h3
  %i.fa.fa-dashboard
  Statistik

%span
  Eine &Uuml;bersicht &uuml;ber die Aktivit&auml;t auf Holarse.

#site-statistics
