/ top
.top
  .container
    %ul.loginbar.pull-right
      - if current_user
        %li
          = link_to user_path(current_user) do
            = current_user.username
            (
            = current_user.decorate.unread_messages.count
            )
      - else
        %li=link_to "Registrieren", register_path
      %li.devider
      - if current_user
        %li=link_to "Abmelden", logout_path
      - else
        %li=link_to "Login", login_path
