%h1
  Die neusten Einreichungen

%table.table.table-striped
  %thead
    %tr
      %th
        Absender
      %th
        URL
      %th
        Infotext
      %th
        Datum
  %tbody
    = render @inboxes
