%h1
  Die neusten Einreichungen

%table.table.table-striped
  %thead
    %tr
      %th
        \#
      %th
        Datum
      %th
        Absender
      %th
        Infotext
      %th
        Link
  %tbody
    = render @inboxes
